.title {
    font-size: 200px;
    width: 100%;
    text-align: center;
    background-color: gray;
    color: white;
    margin-bottom: 0;
}

.physics {
    font-size: 100px;
    width: 25%;
    text-align: center;
    background-color: black;
    color: white;
    float: left;
}

.math {
    font-size: 100px;
    width: 25%;
    text-align: center;
    background-color: black;
    color: white;
    float: left;
}

.quadPic {
    text-align: center;
    background-color: white;
    width: 25%;
}

.mathButton {
    width: 25%;
    border: solid black 1px;
    background-color: gray opacity 0.5;
    padding: 10px 10px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}

.pyPic {
    width: 25%;
    background-color: white;
    text-align: center;
}

.kinematicPic {
    margin-top: 0px;
    text-align: center;
    width: 25%;
}
