.title {
    font-size: 100px;
    width: 100%;
    text-align: center;
    background-color: gray;
    color: white;
    margin-bottom: 0;
}

.physics {
    font-size: 50px;
    width: 25%;
    text-align: center;
    background-color: black;
    color: white;
}

.math {
    font-size: 50px;
    width: 25%;
    text-align: center;
    background-color: black;
    color: white;
    float: right;
}

.quadPic {
    width: 25%;
    text-align: center;
    background-color: white;
    margin-bottom: 0;
    float: right;
}

.mathButton {
    margin-top: 0px;
    margin-left: 90%;
}

.pyPic {
    width: 25%;
    text-align: center;
    margin-bottom: 0;
    margin-left: 75%;
    position: static;
}

.kinematicPic {
    margin-top: 0px;
    text-align: center;
    width: 25%;
}
